  <!-- partial(head) -->
  <%- include('../partials/head') %>
  </head>
  <body>
      <!-- partial(header) included -->
      <%- include('../partials/navigation') %>
      <main>    
        <h2>Bookings</h2>
        </main>
  </body>
</html>
