    <!-- partial(404-error) -->
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div class="error-container">
    <h2>404 error : page not found</h2>
    <!-- back button -->
    <%- include('partials/backButton') %>
    </div>
</body>
</html>