    <!-- post handled -->
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="post-handle.css" />
  </head>
  <body>
    <!-- partial(header) included -->
    <%- include('../partials/navigation') %>
    <div class="success-header">
      <h2>Home Added Successfully</h2>
      <!-- back button -->
      <%- include('../partials/backButton') %>
    </div>
  </body>
</html>